/* Custom styles for the header */
.header {
    background-color: #4A4A4A;
    padding: 10px;
    height: 185px;
    display: flex;
    align-items: center;

    
}

.logo img {
    max-height: 50px;
}



@media (max-width: 576px) {
    /* Mobile styles - stack title and logo on top of each other */
    .logo {
        text-align: center;
    }

    .title, .logo {
        display: block;
    }
    .mobile_center{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .mobile_center p{
        text-align: center;
    }

   

}

/* page_2 */

.page_2{
    padding: 2rem;
   
}

.heading_two{
    font-size: 20px;
    font-weight: bold;
        
}